@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColorStart: #121212;
  --bgColorEnd: rgba(18, 18, 18, 0.9);
  --foreground: #ffffff;
  --primaryColor: #ff007f;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}